<div class="container">
    <h1 class="text-center">All products</h1>
    <div id="productsContainer" class="container text-center"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>