<div class="container">
    <h1 class="text-center">By Sof - products</h1>
    <div class="productsContainer"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>